<form method="post">
 Heading: <input type="text" name="short" value="<%= @snippet[:short] %>"><br>
 Information: <textarea name="long_info"><%= @snippet[:long_info] %></textarea>
 <input type="submit" value="Submit">
</form>
<a href="/">Home</a>